.badges {
  display: table-cell;
  border: 1px solid black;
  border-top: none;
}

.badge {
  width: 14.1%;
  height: 20px;
  font-size: 14px;
  float: left;
}

.badge-bronze {
  border: 1px solid hsl(30, 100%, 75%);
  background-color: hsl(30, 85%, 65%);
}

.badge-silver {
  border: 1px solid hsl(200, 10%, 90%);
  background-color: hsl(200, 10%, 85%);
}

.badge-gold {
  border: 1px solid hsl(50, 100%, 65%);
  background-color: hsl(50, 85%, 65%);
}

.badge-complete {

}

.badge-incomplete {
  opacity: 0.5;
}