.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.scorecards {
  display: flex;
  flex-direction: column;
}

.scorecard {
  margin: 10px auto;
  display: table;
  border: 2px solid black;
}

.playerInfo {
  display: table-row;
  position: relative;
  min-width: 70px;
}

.playerContent {
  display: table-cell;
  padding: 10px 5px;
  /* width: 410px; */
  /* transform: rotate(-90deg); */
  /* transform-origin: bottom left; */
  /* left: 60px; */
  /* bottom: 10px; */
}

.playerName {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.playerStars, .playerRank, .playerScore, .playerBadges {
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.playerStars, .playerRank, .playerScore {
  margin-right: 10px;
}

.playerStars span, .playerRank span, .playerScore span, .playerBadges span {
  font-weight: normal;
}

.playerDetails {
  display: table-row;
  width: 1120px;
}

.room {
  display: table-cell;
  border: 1px solid #333;
  border-collapse: collapse;
  font-size: 14px;
  background-color: #EEE;
  white-space: nowrap;
}

.games {
  display: table-row;
  background-color: #FFF;
}

.game {
  display: table-cell;
  border: 1px solid #666;
  border-collapse: collapse;
  min-width: 40px;
}

.game:first-child {
  border-left: none;
}

.game:last-child {
  border-right: none;
}

.gamenamewrapper {
  height: 70px;
  position: relative;
}

.gamename {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 10px;
  font-size: 13px;
  white-space: normal;
  padding: 5px;
  width:60px;
  height: 30px;
  left: 40px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.level {
  border-top: 1px solid #999;
  font-size: 12px;
}

.range0 {
  background-color: hsl(200, 80%, 85%);
}

.range1 {
  background-color: hsl(120, 80%, 85%);
}

.range2 {
  background-color: hsl(90, 80%, 85%);
}

.range3 {
  background-color: hsl(90, 80%, 85%);
}

.range4 {
  background-color: hsl(75, 80%, 85%);
}

.range5 {
  background-color: hsl(60, 80%, 85%);
}

.range6 {
  background-color: hsl(45, 80%, 85%);
}

.range7 {
  background-color: hsl(30, 80%, 85%);
}

.range8 {
  background-color: hsl(15, 80%, 85%);
}

.range9 {
  background-color: hsl(0, 80%, 85%);
}